@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* 🌞 MODO CLARO - Variáveis padrão */
:root {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #E5E5E7;
  --color-bg-card: #EAFDFD;

  /* COR DOS TEXTOS */
  --text-btn-color: #fff;
  --text-color-primary: #000;

  /* => COR DOS BUTTONS */
  --btn-color-primary: #000;

  /* => COR DOS BORDAS */
  --color-bdcustomizada: #cecece;


  /* Mapeando */
  --background: var(--color-bg-primary);
  --secondary: var(--color-bg-secondary);
}

/* 🌙 MODO ESCURO */
.dark {
  --color-bg-primary: #0A0A0A;
  --color-bg-secondary: #101010;

  /* COR DOS TEXTOS */
  --text-color-primary: #fff;
  --text-btn-color: #000;

  /* => COR DOS BUTTONS */
  --btn-color-primary: #517CD9;

  /* => COR DAS BORDAS */
  --color-bdcustomizada: #1D1D1F;

  /* Mapeando */
  --background: var(--color-bg-primary);

}

/* 🎯 Tema inline com mapeamento de variáveis para Tailwind/shadcn */
@theme inline {
  --color-secondary: var(--secondary);
  --color-background: var(--background);             /* Fundo */
  --color-btn-add: var(--btn-color-primary);       /* Cor do botão de adicionar */
  --color-btn-text: var(--text-btn-color);
  --color-bordercustomizada: var(--color-bdcustomizada);
  --color-card: var(--color-bg-card);

}


/* 🧩 Estilos globais aplicados a todos os elementos via Tailwind */
@layer base {
  body {
    @apply bg-background ;
  }


}

.text-shadow {
 text-shadow: 0px 0px 4px rgba(255, 255, 0, 0.5);
}


@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE */
    scrollbar-width: none;     /* Firefox */
  }

}
